<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pokemon TBA</title>
</head>
<body>

  <form id = "choosePokemon" action="/displayPokemon" method="POST">

    <label for="pokemon">Enter Pokemon Name: </label>
    <input type="TEXT" id="pokemon" name="pokemon" value="pikachu">
    <button type="submit">Submit</button>
  </form>

  <div id="display"></div>
</body>
</html>
