For this page we should get the pokemons info from the data base and 
disply the info for each pokemon. <br><br>

We should add a button to clear the box, which would clear the mongo database <br><br>



Exit PC Box: <a href="/">Exit</a>



